// Colors
$body-color: #ebf0f2;
$btn-primary: #05d7a0;
$btn-secondary: #f06e4b;
$font-primary: #f5f5ff;
$font-secondary:#283241;
$elements-main-color: #894b5d;
$elements-secondary-color: #a0838f;
$add-task-btn-color: #ecd1ea;
$switch-category-bckgr-color: #d1ecdb;
$cal-header-bckgr-color: #043872;
$cal-bckgr-color: #eff2fb;

// dimensions
  // Container
  $container-height: 740px;
  $container-width: 360px;

  // Task container and tasks
  $task-container-margin: 10px;
  $task-container-height: $container-height - ($task-container-margin * 2);
  $task-container-width: $container-width - ($task-container-margin * 2);

  $task-margin: 5px;
  $task-height: auto;  
  $task-width: $task-container-width - ($task-margin * 2);

  // Icons size
  $arrow-up-height: 10px;

// Font sizes
$font-size-label: 0.7em;
$font-size-content: 1.1em;
$font-size-btn: 0.9em;
$font-size-h1: 1.6em;
$font-size-h2: 1.4em;
$font-size-h3: 0.9em;